.black {
   background-color: black;
   color: white;
   text-align: center;
}
.blue {
   background-color: #2248ba;
   color: white;
   text-align: center;
}
.white {
   background-color: white;
   color: black;
   text-align: center;
}
.red {
   background-color: red;
   color: black;
   text-align: center;
}
th {
   text-align: center;
}
td {
   margin: 0 !important;
   padding: 0 !important;
   text-align: center !important;
}
.frontnine {
   color: black;
}
input {
   width: 20px;
}
.scorecard {
   border: 2px solid red;
   border-radius: 5px;
}
.card-title {
   text-align: center;
}
btn-primary {
   text-align: center;
}
.navbar-default {
   background-color: white;
   border: none;
   height: 75px;
}
@media (min-width: 768px) {
   .navbar-nav>li>a {
   padding-top: 30px;
   }
}
.title {
   text-align: center;
}
.courseInput {
   width: 100px;
}
