<div class="container">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <select ng-model="course" ng-change="getTees()" ng-options="course.courseName for course in courseNames" name="courseSelect" class="courseSelect">
            <option value='' disabled>- Please Choose A Course -</option>
         </select>
      </div>
      <div ng-if="pars" class="col-md-12 scorecard">
         <h3 class="scorecardCourse">{{pars.courseName}}</h3>
         <score-card ng-if="pars" tees="courses" scores="scores" pars="pars"></score-card>
         <a ng-href="/handicap"><button ng-if="pars" ng-click="submitScores()">Submit Score</button></a>
         <h5 class="scorecardLocation">{{pars.location}}</h5>
      </div>
   </div>
 </div>

 <div id="animation">
     <div class="ground">
         <div class="hill"></div>
         <div class="hill"></div>
         <div class="hill"></div>
         <div class="hill"></div>
     </div>
     <div class="green"></div>
     <div class="bunker"></div>
     <div class="hole"></div>
     <div class="pole"></div>
     <div class="flag"></div>
     <div class="shot">
         <div class="ball">
             <div></div>
         </div>
         <div class="shadow"></div>
     </div>
 </div>
