<tr>
  <td>
     Erik
  </td>
  <td>
   <input ng-model="scores.score1" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score2" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score3" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score4" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score5" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score6" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score7" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score8" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score9" class="inputScore">
  </td>
  <td>
     {{front9scores()}}
  </td>
  <td>
     EM
  </td>
  <td>
    <input ng-model="scores.score10" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score11" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score12" class="inputScore">
  </td>
  <td>
   <input ng-model="scores.score13" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score14" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score15" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score16" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score17" class="inputScore">
  </td>
  <td>
    <input ng-model="scores.score18" class="inputScore">
  </td>
  <td>
    {{back9scores()}}
  </td>
  <td>
    {{totalScore()}}
  </td>
  <td>
   {{hcap()}}
  </td>
</tr>
