<tr>
  <td>

  </td>
  <td>
   <input ng-model="scores.score1">
  </td>
  <td>
    <input ng-model="scores.score2">
  </td>
  <td>
    <input ng-model="scores.score3">
  </td>
  <td>
    <input ng-model="scores.score4">
  </td>
  <td>
    <input ng-model="scores.score5">
  </td>
  <td>
    <input ng-model="scores.score6">
  </td>
  <td>
    <input ng-model="scores.score7">
  </td>
  <td>
    <input ng-model="scores.score8">
  </td>
  <td>
    <input ng-model="scores.score9">
  </td>
  <td>
     {{front9scores()}}
  </td>
  <td>

  </td>
  <td>
    <input ng-model="scores.score10">
  </td>
  <td>
    <input ng-model="scores.score11">
  </td>
  <td>
    <input ng-model="scores.score12">
  </td>
  <td>
   <input ng-model="scores.score13">
  </td>
  <td>
    <input ng-model="scores.score14">
  </td>
  <td>
    <input ng-model="scores.score15">
  </td>
  <td>
    <input ng-model="scores.score16">
  </td>
  <td>
    <input ng-model="scores.score17">
  </td>
  <td>
    <input ng-model="scores.score18">
  </td>
  <td>
    {{back9scores()}}
  </td>
  <td>
    {{totalScore()}}
  </td>
</tr>
